* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#top-title {
  font-size: 18px;
  padding: 10px 20px 30px 40px;
}

#main-container {
  height: 80vh;
  display: flex;
}

#scarecrow-container {
  padding: 20px;
  height: 100%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

#text-container {
  padding: 20px;
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 24px;
}

#main-paragraph {
  color: #4f4f4f;
  margin: 10px 40% 15px 0;
}

button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px;
}

.p2 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: rgb(212, 200, 200);
}

.subp {
  text-decoration: underline;
}

@media (max-width: 375px) {
  #main-container {
    display: block;
    height: auto;
  }
}
